/Soto_practices/JavaApplication2/nbproject/private/
/Soto_practices/Calculadora/nbproject/private/
/Soto_practices/Calculadora/build/
/Soto_practices/Segundo_Parcial/nbproject/private/
/Soto_practices/Segundo_Parcial/build/
